<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/flights">Orizon Travels</a>
    <a routerLink="/flights"><i class="fa-solid fa-plane-departure text-white"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="" routerLink="/flights">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item login" href="" routerLink="/flights">Login</a></li>
            <li><a class="dropdown-item logout" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
