table {
    margin: 5rem auto;
    text-align: center;
}
th {
    text-transform: uppercase;
    border: 1px solid lightgray;
}
td {
    border: 1px solid lightgray;
}
small {
    padding-left: 10px;
}
.seats {
    width: 12rem;
}
.btn {
    margin: 5px;
}
.message {
    color: red;
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .seats {
        width: 1rem;
    }
    .btn {
        margin: 2px;
    }
}
@media (max-width: 500px) {
    table {
        margin: 3rem auto;
    }
}