<div class="container ff justify-content-center">

  <form [formGroup]="requiredForm" class="">

    <div class="form-group pb-4">
      <label class="form-label" for="name">Name</label>
      <input type="text" formControlName="name" id="name" name="name" class="form-control" placeholder="Enter name">
      <div *ngIf="requiredForm.controls['name'].invalid && requiredForm.controls['name'].touched" class="text-danger">
        <div *ngIf="requiredForm.controls['name'].errors">
          Name is required.
        </div>
      </div>
    </div>

    <div class="form-group pb-4">
      <label class="form-label" for="username">Username</label>
      <input type="text" formControlName="username" id="username" name="username" class="form-control" placeholder="Enter email">
      <div *ngIf="requiredForm.controls['username'].invalid && requiredForm.controls['username'].touched" class="text-danger">
        <div *ngIf="requiredForm.controls['username'].errors">
          Username is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="password">Password</label>
      <input type="password" formControlName="password" id="password" name="password" class="form-control" placeholder="Enter password">
      <div *ngIf="requiredForm.controls['password'].invalid && requiredForm.controls['password'].touched" class="text-danger">
        <div *ngIf="requiredForm.controls['password'].errors">
          Password is required.
        </div>
      </div>
    </div>

    <div class="message" #mm></div>
    
    <div class="allBtn justify-content-center mt-3">
      <button type="button" class="btn btn-secondary" (click)="submit()" (click)="message()">Register</button>
      <button type="button" class="btn btn-dark" routerLink="">Back</button>
    </div>

  </form>

</div>
